@import './normalize.css';
@import './skeleton.css';

body {
  padding: 3rem;
}

pre {
  font-family: unset;
}

p {
  margin-bottom: 1em;
}

ul {
  margin-left: 3rem;
}

li {
  margin-bottom: .2em;
}
